body{
    height: 3525px;
    background: #F0DD92;
}

.navbar-custom{
    background-color: #83B582;
}

html{
    scroll-behavior: smooth;
}

.down{
    width: 25px;
    height: 25px;
}

.about{
width: 150px;
height: 24px;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
color: #000000;
}

.mek{
width: 79px;
height: 51px;
font-family: Montserrat;
font-style: italic;
font-weight: 800;
font-size: 26px;
line-height: 32px;
display: flex;
align-items: center;
color:black;
}

.muka{
    position: absolute;
    width: 622px;
    height: 643px;
    left: 0px;
    top: 84px;
}

.teks1{
    position: absolute;
    width: 466px;
    height: 275px;
    left: 884px;
    top: 261px;
    font-family: Akronim;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 91px;
    text-align: center;
    letter-spacing: 0.15em;
    color: #000000;
}

.teks2{
    position: absolute;
    width: 15px;
    height: 645px;
    left: 727.67px;
    top: 75px;
    font-family: Aladin;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 43px;
    text-align: center;
    letter-spacing: 0.15em;
    color: #000000;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.boxabout{
    position: absolute;
    width: 100%;
    height: 509px;
    left: 0px;
    top: 727px;
    background: #FFFFC5;
}

.teks3{
    position: absolute;
    width: 185.62px;
    height: 49.85px;
    left: 627px;
    top: 815px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.1em;
    text-decoration-line: underline;
    color: #000000;
}

.teks4{
    position: absolute;
    width: 1289.96px;
    height: 167.13px;
    left: 75px;
    top: 934.18px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 160%;
    /* or 38px */
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
}

.teks5{
    position: absolute;
    width: 160px;
    height: 34px;
    left: 644px;
    top: 1333px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.1em;
    text-decoration-line: underline;
    color: #000000;
}

.boxskill1{
    position: absolute;
    width: 367px;
    height: 213px;
    left: 82px;
    top: 1450px;
    background: #D6E4AA;
}
.eats{
    position: absolute;
    width: 180px;
    height: 116.94px;
    left: 176px;
    top: 1499px;
}

.boxskill2{
    position: absolute;
    width: 367px;
    height: 213px;
    left: 539px;
    top: 1450px;
    background: #D6E4AA;
}

.coding{
    position: absolute;
    width: 187px;
    height: 174px;
    left: 629px;
    top: 1470px;
}

.boxskill3{
    position: absolute;
    width: 367px;
    height: 213px;
    left: 992px;
    top: 1450px;
    background: #D6E4AA;
}

.design{
    position: absolute;
    width: 180px;
    height: 120.06px;
    left: 1086px;
    top: 1496px;
}

.teks6{
    position: absolute;
    width: 87px;
    height: 39px;
    left: 222px;
    top: 1699px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    letter-spacing: 0.15em;
    color: #000000;
}

.teks7{
    position: absolute;
    width: 325px;
    height: 124px;
    left: 103px;
    top: 1763px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #000000;
}

.teks8{
    position: absolute;
    width: 145px;
    height: 39px;
    left: 650px;
    top: 1699px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    letter-spacing: 0.15em;
    color: #000000;
}

.teks9{
    position: absolute;
    width: 325px;
    height: 124px;
    left: 560px;
    top: 1763px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #000000;
}

.teks10{
    position: absolute;
    width: 142px;
    height: 39px;
    left: 1105px;
    top: 1699px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    letter-spacing: 0.15em;
    color: #000000;
}

.teks11{
    position: absolute;
    width: 325px;
    height: 124px;
    left: 1013px;
    top: 1763px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #000000;
}

.boxexperience{
    position: absolute;
    width: 1279px;
    height: 1090px;
    left: 81px;
    top: 2092px;
    background: #83B582;
}

.teks12{
    position: absolute;
    width: 164px;
    height: 34px;
    left: 641px;
    top: 2115px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    text-decoration-line: underline;
    color: #000000;
}

.teks13{
    position: absolute;
    width: 332px;
    height: 27px;
    left: 229px;
    top: 2222px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */
    text-align: center;
    color: #000000;     
}

.cegete{
    position: absolute;
    width: 500px;
    height: 333px;
    left: 145px;
    top: 2281px;
}

.teks14{
    position: absolute;
    width: 131px;
    height: 27px;
    left: 984px;
    top: 2222px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */
    text-align: center;
    color: #000000;
}

.compfest{
    position: absolute;
    width: 500px;
    height: 332px;
    left: 805px;
    top: 2281px;
}

.teks15{
    position: absolute;
    width: 218px;
    height: 27px;
    left: 285px;
    top: 2703px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */
    text-align: center;
    color: #000000;
}

.teks16{
    position: absolute;
    width: 350px;
    height: 27px;
    left: 877px;
    top: 2703px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */
    text-align: center;
    color: #000000;
}

.teks17{
    position: absolute;
    width: 240px;
    height: 30px;
    left: 621px;
    top: 3312px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.15em;
    color: #000000;
}

.line{
    position: absolute;
    width: 60px;
    height: 60.44px;
    left: 494px;
    top: 3403px;
}

.instagram{
    position: absolute;
    width: 60px;
    height: 61.71px;
    left: 621px;
    top: 3401px;    
}

.email{
    position: absolute;
    width: 70px;
    height: 46.54px;
    left: 748px;
    top: 3409px;
}

.telepon{
    position: absolute;
    width: 60px;
    height: 60.06px;
    left: 885px;
    top: 3403px;
}